$button-size: 25px;
$font-size: 14px;

:host {
  border: 1px solid #DDD;
  border-bottom: 0;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  background: #FFF;
  color: #333;
  user-select: none;
}
.fate-ui-separator {
  display: inline-block;
  width: 2px;
  height: $font-size;
  vertical-align: middle;
  background-color: #DDD;
  border-radius: 2px;
}
.fate-ui-button {
  display: inline-block;
  height: $button-size;
  width: $button-size;
  text-align: center;
  line-height: $button-size;
  margin-bottom: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-size: $font-size;

  background-color: rgba(0,0,0,0.0);
  transition: background 300ms;
  border-radius: 3px;

  &:active,
  &.enabled {
    background-color: rgba(0,0,0,0.1);
  }
  &:hover {
    background-color: rgba(0,0,0,0.2);
  }

  span.reader {
    display: none;
  }
}
