$button-size: 25px;
$font-size: 14px;

:host {
  border: 1px solid #DDD;
  border-bottom: 0;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  background: #FFF;
  color: #333;
  user-select: none;
  position: relative;
}
.fate-ui-separator {
  display: inline-block;
  width: 2px;
  height: $font-size;
  vertical-align: middle;
  background-color: #DDD;
  border-radius: 2px;
}
.fate-ui-button {
  display: inline-block;
  height: $button-size;
  width: $button-size;
  text-align: center;
  line-height: $button-size;
  margin-bottom: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-size: $font-size;
  box-sizing: border-box;

  transition: background 300ms;
  border-radius: 3px;

  &:active,
  &.enabled,
  &.with-dropdown {
    background-color: #E5E5E5;
  }
  &:hover {
    background-color: #CCC;
  }

  span.reader {
    display: none;
  }
}
.fate-ui-dropdown {
  display: none;
  z-index: 1;
  font-size: 14px;
  user-select: all;
  box-sizing: border-box;

  border-radius: 3px;
  background-color: #E5E5E5;
  position: absolute;
  padding: 10px;
  border-bottom: 1px solid #CCC;

  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);

  &.visible {
    display: block;
  }
}
