<div>
  <ng-container *ngFor="let button of buttons">
    <a *ngIf="button !== 'separator'" class="fate-ui-button" (click)="do($event, parser.getAction(button).command, parser.getAction(button).option)">
      <span *ngIf="icon.getIcon(button)" [innerHtml]="icon.getIcon(button)"></span>
      <span *ngIf="!icon.getIcon(button)">{{parser.getAction(button).label}}</span>
      <span class="reader">{{parser.getAction(button).name}}</span>
    </a>
    <div *ngIf="button === 'separator'" class="fate-ui-separator"></div>
  </ng-container>
</div>
