:host {
  display: block;
  position: relative;

  fate-ui {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
    text-align: left;

    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background: #FFF;
    z-index: 1;
    transform: translateY(10px);


    max-width: 100%;

    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  fate-input {
    /deep/ div.fate-edit-target {
      border: none;
      background: none;
      padding: 0;
      outline: none;
      font: inherit;
      resize: vertical;
      margin-bottom: 0;
    }
  }
}
