<div class="demo">
  <div class="demo-type">Simple UI</div>
  <form class="demo-editor">
    <div class="form-group">
      <fate-ui uiId="foo"></fate-ui>
      <fate-input uiId="foo" [(ngModel)]="aboutFate" name="simple"></fate-input>
    </div>
  </form>
</div>
<div class="demo">
  <div class="demo-type">Bootstrap4 UI</div>
  <form class="demo-editor">
    <div class="form-group">
      <fate-bootstrap [(ngModel)]="aboutFate" name="bootstrap"></fate-bootstrap>
    </div>
  </form>
</div>

<!--
  <strong>debug</strong>
  <textarea type="text" [(ngModel)]="aboutFate"  name="bootstrapSrc"></textarea>
-->
