
:host {  margin-top: -80px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  .demo {
    width: 30%;
    flex-grow: 0;
    flex-shrink: 100;

    &.material .form-group {
      position: relative;
      background: #FFF;
      padding: 10px;

      mat-form-field {
        width: 100%;
      }
    }

    .demo-type {
      display: inline-block;
      margin: 0 auto;
      color: #FFF;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 0;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5)
    }
    .demo-editor {
      text-align: left;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

/deep/ .custom-block {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid #AAA;
  outline: 0;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-modify: read-only;

  &:active,
  &:focus {
    background: #EEE;
    border: 1px solid #999;
  }
}
